<section id="about">
    <h1><i class="fa fa-bug"></i> About Me</h1>
    <div class="jumbotron">
        <p>
            <i class="fa fa-quote-left pull-left"></i>

            If you're seeing this, I probably need a job.
            <i class="fa fa-quote-right pull-right"></i>
        </p>
        <p style="text-align: right;">- Andy Truong</p>
        <dl class="dl-horizontal">
            <dt><i class="fa fa-envelope"></i> Email:</dt>
            <dd>ineedajob<i class="fa fa-bolt"></i>killbotlogic.com</dd>
            <dt><i class="fa fa-phone"></i> Phone:</dt>
            <dd>0466 489 205</dd>
        </dl>
        <p><a role="button" href="http://www.linkedin.com/in/killbotlogic" class="btn btn-primary btn-lg">Hire me</a></p>
    </div>
</section>